* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

header {
  background: #38c771;
  padding: 15px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav h1 {
  color: rgb(30, 151, 162);
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li {
  margin-left: 20px;
}

nav ul li a {
  color: rgb(148, 25, 117);
  text-decoration: none;
}

.hero {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(230, 201, 173);
}

.content {
  padding: 40px;
}

.card {
  background: #90185e;
  padding: 20px;
  margin: 20px 0;
}

form {
  display: flex;
  flex-direction: column;
}

form input,
form textarea {
  margin-bottom: 15px;
  padding: 10px;
}

button {
  padding: 10px;
  background: #1076a1;
  color: rgb(118, 26, 31);
  border: none;
}

@media(max-width: 768px) {
  nav {
    flex-direction: column;
  }

  nav ul {
    margin-top: 10px;
  }
}